<section class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container mt-5 mb-5">
      <img src="/assets/images/Ellipse 1.png" alt="" class="logo" /><span
        class="title"
        >&nbsp;uiuxadi</span
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
      >
      <div class="head-pt d-flex justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item mx-3">
            <a
              style="color: #ffffff"
              class="nav-link active"
              aria-current="page"
              routerLink=""
              >WORK</a
            >
          </li>
          <li class="nav-item mx-3">
            <a style="color: #ffffff" class="nav-link" routerLink="menu"
              >PROCESS</a
            >
          </li>
          <li class="nav-item mx-3">
            <a style="color: #ffffff" class="nav-link" href="#service"
              >ABOUT</a
            >
          </li>
          <li class="nav-item mx-3">
            <a style="color: #ffffff" class="nav-link" routerLink="aboutus"
              >CONTACT</a
            >
          </li>
        </ul>
      </div>
      </div>
    </div>
  </nav>
</section>
