.header{
    background-image: url("../../assets/images/Frame.png");
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: left;
}
.title {
    color: #8685EF;
    width: 96px;
    height: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.head-pt{
  margin-left: 60%;
}

@media screen and (max-width:768px)
{
  .head-pt{
    margin-left: 0%;
  }
}

@media screen and (max-width:575px)
{
  .head-pt{
    margin-left: 0%;
  }
}

